* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  /* background-color: #0a0919; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #16181d;
  color: #f7f7f7;
}

.app-container {
  width: 90%;
  margin: auto;

}

h2 {
  text-align: center;
}

input[type="file"] {
  border: 2px solid #58c4dc;
  padding: 0.8rem;
  border-radius: 0.3rem;
  display: block;
  margin: 20px auto;
  background-color: #23272f;
  transition: 0.8s all ease-in-out;
}
input[type="file"]:hover{
  box-shadow: 0px 0px 9px #58c4dc;
}

/* table */
section {
  padding: 2rem;
  font-family: Arial, sans-serif;
  /* background-color: #f7f7f7; */
  background-color: #23272f;
}
input[type="file"] {
  margin-bottom: 1rem;
}
h2 {
  margin-top: 1.5rem;
}
.csv-preview h2 {
  margin-bottom: 0.5rem;
}
.table-container {
  overflow: auto;
  background-color: transparent;
  max-height: 100vh;
  /* padding: 1rem; */
  border-radius: 0.3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  border: 2px solid #ddd;
  text-align: left;
  border-radius: 0.5rem;
}

th {
  background-color: #58c4dc;
  font-weight: bold;
  color: #16181d;
}

tr:nth-child(even) {
  /* background-color: #fafafa; */
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 1.5rem 0;
}

.box {
  flex: 1;
  min-height: 180px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #23272f;
}

.box h4 {
  margin: 0 0 10px;
  text-align: center;
  color: #f7f7f7;
}

.item {
  padding: 6px 8px;
  margin: 4px 0;
  background: #58c4dc;
  border-radius: 3px;
  cursor: grab;
  color: #fafafa;
}

.item:active {
  cursor: grab;
}

.aggregation {
  width: 100%;
  margin-top: 10px;
  padding: 4px;
}

.close-btn {
  float: right;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}

.close-btn:hover {
  color: darkred;
}

/* .pivot-table {
  width: 85vw;
  height: auto;
  margin: 1rem auto;
  overflow: scroll;
  padding: 0.9rem 0.5rem;
}

.pivot-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.pivot-table table th {
  background-color: #6180ec;
}

.pivot-table th,
.pivot-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
} */

/* loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 4px solid #58c4dc;
  border-bottom: 4px solid aqua;
  animation: spin 1s linear infinite;
}





@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.print-btn {
  margin: 1rem 0;
  padding: 0.4rem 1.5rem;
  border: 2px solid #58c4dc;
  font-size: 1.3rem;
  background-color: transparent;
  color: #f7f7f7;
  border-radius: 0.4rem;
  cursor: pointer;

}


@media (max-width:750px) {
  .app-container {
    width: 100vw;
    margin: 0;
  }

  .table-container {
    width: 100%;
    margin: auto;
    overflow: auto;
  }

 

  .boxes {
    width: 90vw;
    flex-direction: column;
  }

  .boxes .box {
    margin: 0.5rem 0;
  }

  .pivot-table {
    overflow: auto;
  }

  .pivot-table th {
    font-size: 0.9rem;
    font-weight: 600;
  }

}

@media print {
  section {
    display: none;
  }

  input[type="file"] {
    display: none;
  }

  .boxes {
    display: none;
  }

  .pivot-table {

    background-color: #16181d;
    display: block;
    /* color: #16181d; */
  }

  .print-btn {
    display: none;
  }
}