* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  /* background-color: #0a0919; */
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {

  width: 90%;
  margin: auto;
}

h2 {
  text-align: center;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}

/* table */

section {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

input[type="file"] {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
}

.csv-preview h2 {
  margin-bottom: 0.5rem;
}

.table-container {
  overflow: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}


th,
td {
  padding: 10px;
  border: 2px solid #ddd;
  text-align: left;
  border-radius: 0.5rem;
  margin: 1rem;
}

th {
  background-color: #6180ec;
  font-weight: bold;
  color: #fafafa;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.box {
  flex: 1;
  min-height: 180px;
  border: 2px dashed #aaa;
  border-radius: 5px;

  padding: 10px;
  background: #fdfdfd;
}

.box h4 {
  margin: 0 0 10px;
  text-align: center;
}

.item {
  padding: 6px 8px;
  margin: 4px 0;
  background: #6180ec;
  border-radius: 3px;
  cursor: move;
  color: #fafafa;
}

.item:active {
  cursor: move;
  /* background: #e2e2e2; */
}

.aggregation {
  width: 100%;
  margin-top: 10px;
  padding: 4px;
}

.close-btn {
  float: right;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}

.close-btn:hover {
  color: darkred;
}

.pivot-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.pivot-table table th {
  background-color: #6180ec;
}

.pivot-table th,
.pivot-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

@media (max-width:750px){

  .app-container {
    width: 100vw;
    margin: 0;
  }
  .table-container {
    width: 100%;
    margin: auto;
    overflow: auto;
  }
  .table-container table{
    /* width: 100%; */
  }
  .boxes {
    flex-direction: column;
  }
  .boxes .box{
    margin: 0.5rem 0;
  }
  .pivot-table{
    overflow: auto;
  }
  .pivot-table th{
    font-size: 0.9rem;
    font-weight: 600;
  }

}


